{% extends 'base.html.twig' %}

{% block title %}
	Recipes
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="text-center">
        <h1>{{ recipe.name }}</h1>
        <p>Author: {{ author.email }}</p>
        <img src="{{ recipe.imagePath }}" alt="Recipe Image" class="img-fluid bd-placeholder-img mt-4">
      </div>
      
      <div class="mt-4">
        <h3>Ingredients:</h3>
        <p>{{ recipe.ingridients }}</p>
        
        <h3>How to:</h3>
        <p>{{ recipe.howTo }}</p>
      </div>
      <a class="btn btn-success" href="/recipes/save/{{ recipe.id }}">SAVE RECIPE (+{{ reviews|length }}) </a>
    </div>
  </div>
</div>
    
{% endblock %}